<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>咨询列表</title>
    <link href="../addons/water_baby/template/css/weui.min.css" rel="stylesheet" type="text/css">
    <link href="../addons/water_baby/template/css/upload.css" rel="stylesheet" type="text/css">
    <link href="../addons/water_baby/template/css/example.css" rel="stylesheet" type="text/css">
    <style>
        #weui_media_hd {
            width: 100px;
            height: 100px;
            line-height: 100px;
        }

        #weui_media_bd {
            max-height: 100px;
            overflow: hidden;
        }

        a {
            background: #fff;
            display: block;
            width: 100%;
            height: auto;
            overflow: auto;
        }

        a {
            color: #000;
        }

        .mb-10 {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    <div class="tabbar">
        <div class="weui_tab">
            <div class="weui_tab_bd">
                {if $mem_doctor}
                <a href="{php echo $this->createMobileUrl('pay',array('doctor_id' => $mem_doctor['uid'], 'type' => '0'));}" class="mb-10">
                    <div class="weui_media_box weui_media_appmsg">
                        <table width="100%" border="0">
                            <tr>
                                <td width="25%" align="center" valign="middle">
                                    <img src="{if substr($mem_doctor['avatar'],0,4) != 'http'}../attachment/{/if}{$mem_doctor['avatar']}" style="width:100%" />
                                </td>
                                <td width="75%" align="left" valign="top" style="padding-left:8px;">
                                    <h3 style="color:#56abe4;">{$mem_doctor['nickname']}</h3>
                                    <p style="font-size:14px;">{$mem_doctor['bio']}</p>
                                    <p style="text-align:right;">
                                        <span style="background:#56abe4; color:#fff; border-radius:5px; padding:3px; padding-left:10px; padding-right:10px;">
											{$mem_doctor['revenue']}元/次
										</span>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="weui_media_box weui_media_appmsg">
                        <div class="weui_media_hd">
                            <img src="../addons/water_baby/template/img/icons/list/zixun1.png" class="weui_media_appmsg_thumb" />
                        </div>
                        <div class="weui_media_bd" id="weui_media_bd">
                            <h4 class="weui_media_title">线上咨询</h4>
                            <p class="weui_media_desc">
                                孕期专属的孕检医生。医生如果长时间未回复您的消息，十月宝宝会在3小时内帮您提醒医生。
                            </p>
                        </div>
                    </div>
                    <div class="weui_media_box weui_media_appmsg">
                        <div class="weui_btn weui_btn_warn button" style="width:100%;">立即咨询</div>
                    </div>
                </a>
                {/if}
                <a href="{php echo $this->createMobileUrl('chat',array('doctor_id' => $lawer_info['uid'], 'type' => '1'));}" class="mb-10">
                    <div class="weui_media_box weui_media_appmsg">
                        <table width="100%" border="0">
                            <tr>
                                <td width="25%" align="center" valign="middle">
                                    <img src="{if substr($lawer_info['avatar'],0,4) != 'http'}../attachment/{/if}{$lawer_info['avatar']}" style="width:100%" />
                                </td>
                                <td width="75%" align="left" valign="top" style="padding-left:8px;">
                                    <h3 style="color:#56abe4;">{$lawer_info['nickname']}</h3>
                                    <p style="font-size:14px;">{$lawer_info['bio']}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="weui_media_box weui_media_appmsg">
                        <div class="weui_media_bd" id="weui_media_bd">
                            <h4 class="weui_media_title">线上咨询</h4>
                            <p class="weui_media_desc">
                                职场女性生育期间或多或少会遇到一些问题，譬如产假期间是拿基本工资还是按照此前一年的平均工资
                                来拿，离职的女职工能否享受配偶的生育保险
                            </p>
                        </div>
                        <div class="weui_media_hd" style="margin-left:.8em; margin-right:0;">
                            <img src="../addons/water_baby/template/img/icons/list/zixun2.png" class="weui_media_appmsg_thumb" />
                        </div>

                    </div>
                    <div class="weui_media_box weui_media_appmsg">
                        <div class="weui_btn weui_btn_warn button" style="width:100%;">免费咨询</div>
                    </div>
                </a>
            </div>
            <div class="weui_tabbar">
                <a href="{php echo $this->createMobileUrl('index');}" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon">
                        <img src="../addons/water_baby/template/img/icons/index.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">首页</p>
                </a>
                <a href="{php echo $this->createMobileUrl('consult');}" class="weui_tabbar_item weui_bar_item_on">
                    <div class="weui_tabbar_icon">
                        <img src="../addons/water_baby/template/img/icons/consultation_active.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">咨询</p>
                </a>
                <a href="{php echo $this->createMobileUrl(my);}" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon">
                        <img src="../addons/water_baby/template/img/icons/my.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">我的</p>
                </a>
            </div>
        </div>
    </div>

</body>

</html>
