<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>{$mem_info['nickname']}</title>
<link href="../addons/water_baby/template/css/weui.min.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/index.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/example.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/swipe.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/style.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/chat.css" rel="stylesheet" type="text/css">
<style>
.text{flex:4; -webkit-box-flex:4; -ms-flex:4; -webkit-flex:4;}
textarea{width:95%; font-size:16px; resize:none; line-height:18px; height:50px;}
.mylist{width:95%; padding:0; margin:0 auto; list-style:none; display: block;}
.mylist li{max-width:95%; height:auto; display:block; margin:0; padding:0; overflow:auto; margin-bottom:16px; text-align:center; color:#999; font-size:12px;}
li.timestamp{max-width:95%; height:auto; display:block; margin:0; padding:0; overflow:auto; margin-bottom:16px; text-align:center; color:#999; font-size:12px;}
.left{float:left; display:block;}
.right{float:right; display:block;}
.ml-10{margin-left:10px;}
.mr-10{margin-right:10px;}
.mylist li span{height:auto; max-width:75%; overflow-x:hidden; padding:7px; border-radius:8px; margin-top:5px; color:#000; font-size:16px;}
.mylist li span.left{background:#ffffff;}
.mylist li span.right{background:#04BE02;}
.mylist li img{width:50px; height:50px; border-radius:999px; -webkit-border-radius:999px; -ms-border-radius:999px;}
.mylist li span img{width:24px; height: 24px;}
</style>
<script src="../addons/water_baby/template/js/jquery.min.js" type="text/javascript"></script>
<script src="../addons/water_baby/template/js/swipe.js" type="text/javascript"></script>
<script src="../addons/water_baby/template/js/functions.js" type="text/javascript"></script>
<!-- 引入 LeanCloud 存储 SDK -->
<script src="../addons/water_baby/template/js/av-min-1.0.0.js"></script>
<!-- 引入 LeanCloud 实时通信 SDK -->
<script src="../addons/water_baby/template/js/realtime.browser.min.js"></script>
<!-- 引入 LeanCloud 实时通讯 TypedMessages -->
<script src="../addons/water_baby/template/js/typed-messages.min.js"></script>
<!-- Demo 逻辑文件 -->
<!-- <script src="../addons/water_baby/template/js/chat.js"></script> -->
<script src="https://cdn.wilddog.com/sdk/js/2.0.0/wilddog.js"></script>
</head>
<body style="background:#f2f2f2; padding-top:0;">
    <div class="tabbar">
        <div class="weui_tab">
            <div class="weui_tab_bd">
                <li class="timestamp">{php echo date('Y-m-d H:i',$chat_info['addtime'])}</li>
            	<ul class="mylist">
                </ul>
            </div>
            <div class="item" style="display:none;">
              <div id="print-wall" class="print-wall"></div>
            </div>
            <div class="weui_tabbar">
                <div class="Input_Box">
                  <div class="faceDiv"> </div>
                  <div class="Input_Foot">
                  	<a class="imgBtn" href="javascript:void(0);"></a>
                    <textarea class="Input_text"></textarea>
                    <a class="postBtn">发送</a>
                  </div>
                </div>
            </div>
            <div id="temp" style="display:none;">
            	<li>
                    <img  src="{if substr($doctor_info['avatar'],0,4) != 'http'}../attachment/{/if}{$user_info['avatar']}" class="right mr-10" id="title"/>
                    <span class="right">我是聊天你的文字内容</span>
                </li>
            </div>
            <div id="temp1" style="display:none;">
            	<li>
                    <img  src="{if substr($mem_info['avatar'],0,4) != 'http'}../attachment/{/if}{$mem_info['avatar']}" class="left ml-10" id="title"/>
                    <span class="left">我是聊天你的文字内容</span>
                </li>
            </div>
            <!-- <div class="weui_tabbar">
                <div class="weui_tabbar_item" style="padding:7px 0;">
                	<div class="weui_tabbar_icon" style="height:50px; width:50px;">
                    <img src="../addons/water_baby/template/img/title.jpg"/>
                    </div>
                </div>
                <div class="weui_tabbar_item text">
                	<textarea type="text" id="input-send" placeholder="输入内容以发送"></textarea>
                </div>
                <div class="weui_tabbar_item" style="padding:7px 5px 7px 0;">
                	<input type="button" id="send-btn" class="weui_btn weui_btn_plain_primary" value="发送" style="height:50px;"/>
                </div>
            </div> -->
        </div>
    </div>
<script>
var ImgIputHandler={
facePath:[
    {faceName:"微笑",facePath:"微笑.gif"},
    {faceName:"撇嘴",facePath:"撇嘴.gif"},
    {faceName:"色",facePath:"色.gif"},
    {faceName:"发呆",facePath:"发呆.gif"},
    {faceName:"得意",facePath:"得意.gif"},
    {faceName:"流泪",facePath:"流泪.gif"},
    {faceName:"害羞",facePath:"害羞.gif"},
    {faceName:"闭嘴",facePath:"闭嘴.gif"},
    {faceName:"大哭",facePath:"大哭.gif"},
    {faceName:"尴尬",facePath:"尴尬.gif"},
    {faceName:"发怒",facePath:"发怒.gif"},
    {faceName:"调皮",facePath:"调皮.gif"},
    {faceName:"龇牙",facePath:"龇牙.gif"},
    {faceName:"惊讶",facePath:"惊讶.gif"},
    {faceName:"难过",facePath:"难过.gif"},
    {faceName:"酷",facePath:"酷.gif"},
    {faceName:"冷汗",facePath:"冷汗.gif"},
    {faceName:"抓狂",facePath:"抓狂.gif"},
    {faceName:"吐",facePath:"吐.gif"},
    {faceName:"偷笑",facePath:"偷笑.gif"},
    {faceName:"可爱",facePath:"可爱.gif"},
    {faceName:"白眼",facePath:"白眼.gif"},
    {faceName:"傲慢",facePath:"傲慢.gif"},
    {faceName:"饥饿",facePath:"饥饿.gif"},
    {faceName:"困",facePath:"困.gif"},
    {faceName:"惊恐",facePath:"惊恐.gif"},
    {faceName:"流汗",facePath:"流汗.gif"},
    {faceName:"憨笑",facePath:"憨笑.gif"},
    {faceName:"大兵",facePath:"大兵.gif"},
    {faceName:"奋斗",facePath:"奋斗.gif"},
    {faceName:"咒骂",facePath:"咒骂.gif"},
    {faceName:"疑问",facePath:"疑问.gif"},
    {faceName:"嘘",facePath:"嘘.gif"},
    {faceName:"晕",facePath:"晕.gif"},
    {faceName:"折磨",facePath:"折磨.gif"},
    {faceName:"衰",facePath:"衰.gif"},
    {faceName:"骷髅",facePath:"骷髅.gif"},
    {faceName:"敲打",facePath:"敲打.gif"},
    {faceName:"再见",facePath:"再见.gif"},
    {faceName:"擦汗",facePath:"擦汗.gif"},
    {faceName:"抠鼻",facePath:"抠鼻.gif"},
    {faceName:"鼓掌",facePath:"鼓掌.gif"},
    {faceName:"糗大了",facePath:"糗大了.gif"},
    {faceName:"坏笑",facePath:"坏笑.gif"},
    {faceName:"左哼哼",facePath:"左哼哼.gif"},
    {faceName:"右哼哼",facePath:"右哼哼.gif"},
    {faceName:"哈欠",facePath:"哈欠.gif"},
    {faceName:"鄙视",facePath:"鄙视.gif"},
    {faceName:"委屈",facePath:"委屈.gif"},
    {faceName:"快哭了",facePath:"快哭了.gif"},
    {faceName:"阴险",facePath:"阴险.gif"},
    {faceName:"亲亲",facePath:"亲亲.gif"},
    {faceName:"吓",facePath:"吓.gif"},
    {faceName:"可怜",facePath:"可怜.gif"},
    {faceName:"菜刀",facePath:"菜刀.gif"},
    {faceName:"西瓜",facePath:"西瓜.gif"},
    {faceName:"啤酒",facePath:"啤酒.gif"},
    {faceName:"篮球",facePath:"篮球.gif"},
    {faceName:"乒乓",facePath:"乒乓.gif"},
    {faceName:"拥抱",facePath:"拥抱.gif"},
    {faceName:"握手",facePath:"握手.gif"},
    {faceName:"得意地笑",facePath:"得意地笑.gif"},
    {faceName:"听音乐",facePath:"听音乐.gif"}
]
,
Init:function(){
    var isShowImg=false;
    $(".Input_text").focusout(function(){
        $(this).parent().css("border-color", "#cccccc");
        $(this).parent().css("box-shadow", "none");
        $(this).parent().css("-moz-box-shadow", "none");
        $(this).parent().css("-webkit-box-shadow", "none");
    });
    $(".Input_text").focus(function(){
    $(this).parent().css("border-color", "rgba(19,105,172,.75)");
    $(this).parent().css("box-shadow", "0 0 3px rgba(19,105,192,.5)");
    $(this).parent().css("-moz-box-shadow", "0 0 3px rgba(241,39,232,.5)");
    $(this).parent().css("-webkit-box-shadow", "0 0 3px rgba(19,105,252,3)");
    });
    $(".imgBtn").click(function(){
        if(isShowImg==false){
            isShowImg=true;
            $(this).parent().prev().animate({bottom:"45px"},300);
            if($(".faceDiv").children().length==0){
                for(var i=0;i<ImgIputHandler.facePath.length;i++){
                    $(".faceDiv").append("<img title=\""+ImgIputHandler.facePath[i].faceName+"\" src=\"../addons/water_baby/template/face/"+ImgIputHandler.facePath[i].facePath+"\" />");
                }
                $(".faceDiv>img").click(function(){
                    isShowImg=false;
                    $(this).parent().animate({bottom:"-190px"},300);
                    ImgIputHandler.insertAtCursor($(".Input_text")[0],"["+$(this).attr("title")+"]");
                });
            }
        }else{
            isShowImg=false;
            $(this).parent().prev().animate({bottom:"-190px"},300);
        }
    });
    $(".postBtn").click(function(){
        //alert($(".Input_text").val());
        //发送文字
        var text = $(".Input_text").val();
        $(".Input_text").val("");
        reg = new RegExp('\\[(.+?)\\]',"g");
        text =  text.replace(reg,"<img src='../addons/water_baby/template/face/$1.gif' width='24' height='24' />");
        // $("#temp li .right").html(text);
        // $(".mylist").append($("#temp").html());
        sendMsg(text);
    });
},
insertAtCursor:function(myField, myValue) {
if (document.selection) {
    myField.focus();
    sel = document.selection.createRange();
    sel.text = myValue;
    sel.select();
} else if (myField.selectionStart || myField.selectionStart == "0") {
    var startPos = myField.selectionStart;
    var endPos = myField.selectionEnd;
    var restoreTop = myField.scrollTop;
    myField.value = myField.value.substring(0, startPos) + myValue + myField.value.substring(endPos, myField.value.length);
    if (restoreTop > 0) {
        myField.scrollTop = restoreTop;
    }
    myField.focus();
    myField.selectionStart = startPos + myValue.length;
    myField.selectionEnd = startPos + myValue.length;
} else {
    myField.value += myValue;
    myField.focus();
}
}
}
</script>
<script type="text/javascript">

    // 初始化
    var config = {
      authDomain: "october-baby.wilddogio.com",
      syncURL: "https://october-baby.wilddogio.com"
    };
    wilddog.initializeApp(config);
    var ref = wilddog.sync().ref("/{$conv_id}/{$room_id}");

    // 每个客户端自定义的 id
    var clientId = "{$_W['member']['uid']}";
    var doctorId = "{$user_info['uid']}";


    $().ready(function(e) {
        initSlide();
        ImgIputHandler.Init();
        onValue();
    });

    /**
     * 监听消息
     * @return {[type]} [description]
     */
    function onValue() {
        // var presenceRef = wilddog.sync().ref("/"+clientId);
        // presenceRef.off();

        ref.on("child_added", function(snapshot) {
            message = snapshot.val();
            console.log(message);
            showMsg(message);
        });
    }

    /**
     * 显示接收到的消息
     */
    function showMsg(message, isBefore) {
        var text = message.text;
        var from = message.from;
        var isBefore = arguments[1] ? arguments[1] : false
        console.log(isBefore);
        if (message.from != clientId) {
            console.log("NEW MESSAGE");
            if (String(text).replace(/^\s+/, '').replace(/\s+$/, '')) {
                $("#temp1 li span.left").html(text);
                if (isBefore) {
                    //$(".mylist").insertBefore($("#temp1").html(),document.getElementById("mylist").childNodes[0]);
                    var temp = $(".mylist").html();
                    $(".mylist").html($("#temp1").html());
                    $(".mylist").append(temp);
                } else {
                    $(".mylist").append($("#temp1").html());
                }
            }
        } else {
            if (String(text).replace(/^\s+/, '').replace(/\s+$/, '')) {
                //showLog('（' + formatTime(message.timestamp) + '）  ' + encodeHTML(from) + '： ', encodeHTML(message.text), isBefore);
                $("#temp li span.right").html(text);
                if (isBefore) {
                    //$(".mylist").insertBefore($("#temp1").html(),document.getElementById("mylist").childNodes[0]);
                    var temp = $(".mylist").html();
                    $(".mylist").html($("#temp").html());
                    $(".mylist").append(temp);
                } else {
                    $(".mylist").append($("#temp").html());
                }
            }
        }
    }

    /**
     * 发送消息
     * @return {[type]} [description]
     */
    function sendMsg(text) {

        var val = text;

        // 不让发送空字符
        if (!String(val).replace(/^\s+/, '').replace(/\s+$/, '')) {
            alert('请输入点文字！');
        }

        ref.push({
            from: clientId,
            to: doctorId,
            text: text,
            timestamp: Date.parse(new Date())
        });
    }

    /**
     * 设置医生/律师上线事件
     */
     var connectedRef = wilddog.sync().ref("/.info/connected");
     var presenceRef = wilddog.sync().ref("/mem"+clientId);

     connectedRef.on("value", function(snap) {
         console.log('connect:'+snap.val());
       if (snap.val() === true) {
           // 当客户端在线时，写入一个字符串
        //    presenceRef.set("chat");
           presenceRef.update({
              "status": "chat",
              "mem{$user_info['uid']}": 0
            });
       }
       else {
           // 当客户端连接断开时，写入一个字符串
        //    presenceRef.set("disconnected");
           presenceRef.update({
              "status": "disconnected"
            });
       }
     });

    /**
     * 设置医生/律师离线事件
     */
    // 当客户端连接断开时，写入一个字符串
    // presenceRef.onDisconnect().set('disconnected');
    presenceRef.onDisconnect().update({
        "status":"disconnected"
    });

</script>
<!-- <script>
    var appId = 'WVD6ih3K4uyg5E0UWHNnoOX4-gzGzoHsz';
    var appKey = 'NFb7hgWbs3Rsg90S4WjMWsYP';

    // var doctor_id = "{$mem_doctor['uid']}";
    // var doctor_name = "{$mem_doctor['nickname']}";
    // var doctor_mobile = "{$mem_doctor['mobile']}";
    var user_id = "{$_W['member']['uid']}";

    // 请换成你自己的一个房间的 conversation id（这是服务器端生成的）
    var roomId = "{$chat_info['room_id']}";

    // 每个客户端自定义的 id
    var clientId = {$_W['member']['uid']};

    var realtime;
    var client;
    var messageIterator;

    // 用来存储创建好的 roomObject
    var room;

    // 监听是否服务器连接成功
    var firstFlag = true;

    // 用来标记历史消息获取状态
    var logFlag = false;

    var sendBtn = document.getElementById('send-btn');
    var inputSend = document.getElementById('input-send');
    var printWall = document.getElementById('print-wall');

	$().ready(function(e) {
        initSlide();
        ImgIputHandler.Init();
        // bindEvent(sendBtn, 'click', sendMsg);

        AV.initialize(appId, appKey);

        // 创建实时通信实例
        realtime = new AV.Realtime({
          appId: appId,
          appKey: appKey,
          plugins: AV.TypedMessagesPlugin,
        });

        // 初始化聊天室，并获取聊天记录
        main();
    });

    /**
     * 初始化聊天室
     * @return {[type]} [description]
     */
    function main() {
    //   showLog('正在连接服务器，请等待。。。');
      if (!firstFlag) {
        client.close();
      }

      alert(clientId);
      // 创建聊天客户端
      realtime.createIMClient(clientId.toString() )
      .then(function(c) {
        // showLog('服务器连接成功！');
        firstFlag = false;
        client = c;
        client.on('disconnect', function() {
          alert('服务器正在重连，请耐心等待。。。');
        });
        // 获取对话
        return c.getConversation(roomId);
      })
    //   .then(function(conversation) {
    //       return client.createConversation({
    //         name: doctor_name,
    //         members: [
    //           // 默认包含当前用户
    //           doctor_id.toString()
    //         //   doctor_mobile
    //         ],
    //       }).then(function(conversation) {
    //         roomId = conversation.id;
    //         alert(roomId);
    //         console.log('创建新 Room 成功，id 是：', roomId);
      //
    //         /* 保存创建roomId */
    //         var href = "{php echo $this->createMobileUrl('SaveRoomId');}";
    //         $.post(href, {'conv_id' : {$chat_info['id']},'room_id':roomId}, function(data) {
    //             console.log(data);
    //             //   data = $.parseJSON(data);
    //             //   if (data.type == 'success') {
    //             //       return conversation;
    //             //   } else {
    //             //       alert(data.message);
    //             //   }
    //           });
    //         return conversation;
    //       });
        // if (conversation) {
        //   return conversation;
        // } else {
        //   // 如果服务器端不存在这个 conversation
        // //   showLog('服务器不存在这个 conversation，创建一个。');
        //   return client.createConversation({
        //     name: doctor_name,
        //     members: [
        //       // 默认包含当前用户
        //       doctor_id.toString()
        //     //   doctor_mobile
        //     ],
        //     // 创建暂态的聊天室（暂态聊天室支持无限人员聊天，但是不支持存储历史）
        //     // transient: true,
        //     // 默认的数据，可以放 conversation 属性等
        //     // attributes: {
        //     //   test: 'demo2'
        //     // }
        //   }).then(function(conversation) {
        //     roomId = conversation.id;
        //     alert(roomId);
        //     console.log('创建新 Room 成功，id 是：', roomId);
        //
        //     /* 保存创建roomId */
        //     var href = "{php echo $this->createMobileUrl('SaveRoomId');}";
    	// 	$.post(href, {'conv_id' : {$chat_info['id']},'room_id':roomId}, function(data) {
        //         console.log(data);
    	// 		data = $.parseJSON(data);
    	// 		if (data.type == 'success') {
    	// 			return conversation;
    	// 		} else {
    	// 			alert(data.message);
    	// 		}
    	// 	});
        //     // return conversation;
        //   });
        // }
    //   })
      .then(function(conversation) {
        return conversation.join();
      })
      .then(function(conversation) {
        // 获取聊天历史
        room = conversation;
        messageIterator = conversation.createMessagesIterator();
        getLog(function() {
        //   printWall.scrollTop = printWall.scrollHeight;
          showLog('已经加入，可以开始聊天。');
        });

        // 房间接受消息
        conversation.on('message', function(message) {
          if (!msgTime) {
            // 存储下最早的一个消息时间戳
            msgTime = message.timestamp;
          }
          showMsg(message);
        });
      })
      .catch(function(err) {
        console.error(err);
    });
    }

    // 获取消息历史
    function getLog(callback) {
      //var height = printWall.scrollHeight;
      if (logFlag) {
        return;
      } else {
        // 标记正在拉取
        logFlag = true;
      }
      messageIterator.next().then(function(result) {
        var data = result.value;
        logFlag = false;
        // 存储下最早一条的消息时间戳
        var l = data.length;
        if (l) {
          msgTime = data[0].timestamp;
        }
        for (var i = l - 1; i >= 0; i--) {
          showMsg(data[i], true);
        }
        if (l) {
          //printWall.scrollTop = printWall.scrollHeight - height;
        }
        if (callback) {
          callback();
        }
      }).catch(function(err) {
        console.error(err);
      });
    }

    // 显示接收到的信息
    function showMsg(message, isBefore) {
      var text = message.text;
      var from = message.from;
      var isBefore = arguments[1]?arguments[1]:false
      console.log(isBefore);
      if (message.from != clientId) {
          console.log("NEW MESSAGE");
          if (message instanceof AV.TextMessage) {
            if (String(text).replace(/^\s+/, '').replace(/\s+$/, '')) {
              //showLog('（' + formatTime(message.timestamp) + '）  ' + encodeHTML(from) + '： ', encodeHTML(message.text), isBefore);
              $("#temp1 li span.left").html(text);
              if(isBefore){
                //$(".mylist").insertBefore($("#temp1").html(),document.getElementById("mylist").childNodes[0]);
                var temp = $(".mylist").html();
                $(".mylist").html($("#temp1").html());
                $(".mylist").append(temp);
              }
              else {
                $(".mylist").append($("#temp1").html());
              }
            }
          }
      }
      else {
          if (message instanceof AV.TextMessage) {
            if (String(text).replace(/^\s+/, '').replace(/\s+$/, '')) {
              //showLog('（' + formatTime(message.timestamp) + '）  ' + encodeHTML(from) + '： ', encodeHTML(message.text), isBefore);
              $("#temp li span.right").html(text);
              if(isBefore){
                //$(".mylist").insertBefore($("#temp1").html(),document.getElementById("mylist").childNodes[0]);
                var temp = $(".mylist").html();
                $(".mylist").html($("#temp").html());
                $(".mylist").append(temp);
              }
              else {
                $(".mylist").append($("#temp").html());
              }
            }
          }
      }
    }

    // 拉取历史
    bindEvent(printWall, 'scroll', function(e) {
      if (printWall.scrollTop < 20) {
        getLog();
      }
    });

    // demo 中输出代码
    function showLog(msg, data, isBefore) {
      if (data) {
        // console.log(msg, data);
        msg = msg + '<span class="strong">' + data + '</span>';
      }
      var p = document.createElement('p');
      p.innerHTML = msg;
      if (isBefore) {
        printWall.insertBefore(p, printWall.childNodes[0]);
      } else {
        printWall.appendChild(p);
      }
    }

    function encodeHTML(source) {
      return String(source)
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/\\/g,'&#92;')
        .replace(/"/g,'&quot;')
        .replace(/'/g,'&#39;');
    }

    function formatTime(time) {
      var date = new Date(time);
      var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
      var currentDate = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      var hh = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      var mm = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      var ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      return date.getFullYear() + '-' + month + '-' + currentDate + ' ' + hh + ':' + mm + ':' + ss;
    }

    function createLink(url) {
      return '<a target="_blank" href="' + encodeHTML(url) + '">' + encodeHTML(url) + '</a>';
    }

    function bindEvent(dom, eventName, fun) {
      if (window.addEventListener) {
        dom.addEventListener(eventName, fun);
      } else {
        dom.attachEvent('on' + eventName, fun);
      }
    }

    // demo 中输出代码
    function showLog(msg, data, isBefore) {
      if (data) {
        // console.log(msg, data);
        msg = msg + '<span class="strong">' + data + '</span>';
      }
      var p = document.createElement('p');
      p.innerHTML = msg;
      if (isBefore) {
        printWall.insertBefore(p, printWall.childNodes[0]);
      } else {
        printWall.appendChild(p);
      }
    }

    function encodeHTML(source) {
      return String(source)
        .replace(/&/g, '&amp;')
        .replace(/</g, '&lt;')
        .replace(/>/g, '&gt;')
        .replace(/\\/g,'&#92;')
        .replace(/"/g,'&quot;')
        .replace(/'/g,'&#39;');
    }

    function formatTime(time) {
      var date = new Date(time);
      var month = date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
      var currentDate = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
      var hh = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
      var mm = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
      var ss = date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds();
      return date.getFullYear() + '-' + month + '-' + currentDate + ' ' + hh + ':' + mm + ':' + ss;
    }

    function createLink(url) {
      return '<a target="_blank" href="' + encodeHTML(url) + '">' + encodeHTML(url) + '</a>';
    }

    // function bindEvent(dom, eventName, fun) {
    //   if (window.addEventListener) {
    //     dom.addEventListener(eventName, fun);
    //   } else {
    //     dom.attachEvent('on' + eventName, fun);
    //   }
    // }

    /**
     * 发送消息
     * @return {[type]} [description]
     */
    function sendMsg(text) {

      var val = text;
      // 不让发送空字符
      if (!String(val).replace(/^\s+/, '').replace(/\s+$/, '')) {
        alert('请输入点文字！');
      }

      // 向这个房间发送消息，这段代码是兼容多终端格式的，包括 iOS、Android、Window Phone
      room.send(new AV.TextMessage(val)).then(function(message) {
        // 发送成功之后的回调
        //inputSend.value = '';
		console.log(message);
        //showLog('（' + formatTime(message.timestamp) + '）  自己： ', encodeHTML(message.text));
        //printWall.scrollTop = printWall.scrollHeight;
      });

    }

    $(document).ready(function(){
       var range = 50;             //距下边界长度/单位px
       var elemt = 50;           //插入元素高度/单位px
       var maxnum = 2000;            //设置加载最多次数
       var num = 1;
       var totalheight = 0;
       var main = $(".mylist");                     //主体元素
       $(window).scroll(function(){
           var srollPos = $(window).scrollTop();    //滚动条距顶部距离(页面超出窗口的高度)

           //console.log("滚动条到顶部的垂直高度: "+$(document).scrollTop());
           //console.log("页面的文档高度 ："+$(document).height());
           //console.log('浏览器的高度：'+$(window).height());

           totalheight = parseFloat($(window).height()) + parseFloat(srollPos);
           if(($(document).height()-range) <= totalheight  && num != maxnum) {
               main.append("<div style='border:1px solid tomato;margin-top:20px;color:#ac"+(num%20)+(num%20)+";height:"+elemt+"' >hello world"+srollPos+"---"+num+"</div>");
               num++;
           }
       });
   });

</script> -->

</body>
</html>
