<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>{$mem_info['nickname']}</title>
    <link href="../addons/water_baby/template/css/weui.min.css" rel="stylesheet" type="text/css">
    <link href="../addons/water_baby/template/css/index.css" rel="stylesheet" type="text/css">
    <link href="../addons/water_baby/template/css/example.css" rel="stylesheet" type="text/css">
    <link href="../addons/water_baby/template/css/swipe.css" rel="stylesheet" type="text/css">
    <link href="../addons/water_baby/template/css/style.css" rel="stylesheet" type="text/css">
    <link href="../addons/water_baby/template/css/chat.css" rel="stylesheet" type="text/css">
    <style>
        .text {
            flex: 4;
            -webkit-box-flex: 4;
            -ms-flex: 4;
            -webkit-flex: 4;
        }

        textarea {
            width: 95%;
            font-size: 16px;
            resize: none;
            line-height: 18px;
            height: 50px;
        }

        .mylist {
            width: 95%;
            padding: 0;
            margin: 0 auto;
            list-style: none;
            display: block;
        }

        .mylist li {
            max-width: 95%;
            height: auto;
            display: block;
            margin: 0;
            padding: 0;
            overflow: auto;
            margin-bottom: 16px;
            text-align: center;
            color: #999;
            font-size: 12px;
        }

        li.timestamp {
            max-width: 95%;
            height: auto;
            display: block;
            margin: 0;
            padding: 0;
            overflow: auto;
            margin-bottom: 16px;
            text-align: center;
            color: #999;
            font-size: 12px;
        }

        .left {
            float: left;
            display: block;
        }

        .right {
            float: right;
            display: block;
        }

        .ml-10 {
            margin-left: 10px;
        }

        .mr-10 {
            margin-right: 10px;
        }

        .mylist li span {
            height: auto;
            max-width: 75%;
            overflow-x: hidden;
            padding: 7px;
            border-radius: 8px;
            margin-top: 5px;
            color: #000;
            font-size: 16px;
        }

        .mylist li .left {
            background: #ffffff;
        }

        .mylist li .right {
            background: #a1dc2a;
        }

        .mylist li img {
            width: 50px;
            height: 50px;
            border-radius: 999px;
            -webkit-border-radius: 999px;
            -ms-border-radius: 999px;
        }
        .mylist li span img#emo{
          width: 24px;
          height: 24px;
        }

        .mylist li span img {
            width: 200px;
            border-radius: 8px;
            height: auto;
        }
    </style>
    <script src="../addons/water_baby/template/js/jquery.min.js" type="text/javascript"></script>
    <script src="../addons/water_baby/template/js/swipe.js" type="text/javascript"></script>
    <script src="../addons/water_baby/template/js/functions.js" type="text/javascript"></script>
    <!-- 引入 LeanCloud 存储 SDK -->
    <script src="../addons/water_baby/template/js/av-min-1.0.0.js"></script>
    <!-- 引入 LeanCloud 实时通信 SDK -->
    <script src="../addons/water_baby/template/js/realtime.browser.min.js"></script>
    <!-- 引入 LeanCloud 实时通讯 TypedMessages -->
    <script src="../addons/water_baby/template/js/typed-messages.min.js"></script>
    <!-- Demo 逻辑文件 -->
    <!-- <script src="../addons/water_baby/template/js/chat.js"></script> -->
    <script src="https://cdn.wilddog.com/sdk/js/2.0.0/wilddog.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
</head>

<body style="background:#f2f2f2; padding-top:0;">
    <div class="tabbar">
        <div class="weui_tab">
            <div class="weui_tab_bd">
                <li class="timestamp">{php echo date('Y-m-d H:i',$chat_info['addtime'])}</li>
                <ul class="mylist">
                </ul>
            </div>
            <div class="item" style="display:none;">
                <div id="print-wall" class="print-wall"></div>
            </div>
            <div class="weui_tabbar">
                <div class="Input_Box">
                    <div class="faceDiv"> </div>
                    <div class="Input_Foot">
                        <a class="imgBtn" href="javascript:void(0);"></a>
                        <textarea class="Input_text" onkeyup="cha()"></textarea>
                        <div class="postBtn">
                          <font id="send_btn" style="display:none;" >发送</font>
                          <img onclick="send_img()" src="../addons/water_baby/template/img/photo.png" id="add_btn" style="max-height:62%; margin-top:18%;"/>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
              function cha()
              {
                if($("textarea").val().length > 0)
                {
                  $("#send_btn").css("display","");
                  $("#add_btn").css("display","none");
                }
                else {
                  $("#send_btn").css("display","none");
                  $("#add_btn").css("display","");
                }
              }
              function send_img()
              {
                localIds = "";
                serverId = "";
                wx.chooseImage({
            		     count: 1, // 默认9
            		    // sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
            		    // sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
            		    success: function (res) {
              		    localIds = res.localIds[0]; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                      wx.uploadImage({
                          localId: localIds, // 需要上传的图片的本地ID，由chooseImage接口获得
                          isShowProgressTips: 1, // 默认为1，显示进度提示
                          success: function (res) {
                              serverId = res.serverId; // 返回图片的服务器端ID
                              saveImage(serverId);
                              // var msg = "<img serverId='"+serverId+"' src='"+localIds+"'/>";
                            //   var src = "http://file.api.weixin.qq.com/cgi-bin/media/get?access_token={$access_token}&media_id="+serverId;
                              // var msg = "<img src='"+src+"' onclick='viewImage('"+src+"')'/>";
                            //   var msg = "<img src='"+src+"' onclick=\"viewImage('"+src+"')\"/>";
                            //   sendMsg(msg);
                          }
                      });
              		  }
            		});
              }

              function saveImage(media_id) {
                  var href = "{php echo $this->createMobileUrl('saveImage');}";
                  $.post(href, {
                      media_id: media_id
                  }, function(data) {
                      console.log(data);
                      var msg = "<img src='"+data+"' onclick=\"viewImage('"+data+"')\"/>";
                      sendMsg(msg);
                  });
              }

              function viewImage(src)
              {
                wx.previewImage({
                    current: src, // 当前显示图片的http链接
                    urls: [src] // 需要预览的图片http链接列表
                });
              }

              $().ready(function(){
                wx.config({
            		    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            		    appId: 'wxee3496c4bd4556c0', // 必填，公众号的唯一标识
            		    timestamp: '{$timestamp}', // 必填，生成签名的时间戳
            		    nonceStr: '{$noncestr}', // 必填，生成签名的随机串
            		    signature: '{$signature}',// 必填，签名，见附录1
            		    jsApiList: [
            				'chooseImage',
            				'previewImage',
            				'uploadImage'
            			] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
            		});
              });
            </script>
            <div id="temp" style="display:none;">
                <li>
                    <img onclick="location.href='{php echo $this->createMobileUrl(my);}'" src="{if substr($user_info['avatar'],0,4) != 'http'}../attachment/{/if}{$user_info['avatar']}" class="right mr-10" id="title" />
                    <span class="right">我是聊天内容</span>
                </li>
            </div>
            <div id="temp1" style="display:none;">
                <li>
                    <img onclick="location.href='{php echo $this->createMobileUrl(upload,array('user_id' => $mem_info['uid']));}'" src="{if substr($mem_info['avatar'],0,4) != 'http'}../attachment/{/if}{$mem_info['avatar']}" class="left ml-10" id="title" />
                    <span class="left">我是聊天内容</span>
                </li>
            </div>
            <!-- <div class="weui_tabbar">
                <div class="weui_tabbar_item" style="padding:7px 0;">
                	<div class="weui_tabbar_icon" style="height:50px; width:50px;">
                    <img src="../addons/water_baby/template/img/title.jpg"/>
                    </div>
                </div>
                <div class="weui_tabbar_item text">
                	<textarea type="text" id="input-send" placeholder="输入内容以发送"></textarea>
                </div>
                <div class="weui_tabbar_item" style="padding:7px 5px 7px 0;">
                	<input type="button" id="send-btn" class="weui_btn weui_btn_plain_primary" value="发送" style="height:50px;"/>
                </div>
            </div> -->
        </div>
    </div>
    <script>
        var ImgIputHandler = {
            facePath: [{
                faceName: "微笑",
                facePath: "微笑.gif"
            }, {
                faceName: "撇嘴",
                facePath: "撇嘴.gif"
            }, {
                faceName: "色",
                facePath: "色.gif"
            }, {
                faceName: "发呆",
                facePath: "发呆.gif"
            }, {
                faceName: "得意",
                facePath: "得意.gif"
            }, {
                faceName: "流泪",
                facePath: "流泪.gif"
            }, {
                faceName: "害羞",
                facePath: "害羞.gif"
            }, {
                faceName: "闭嘴",
                facePath: "闭嘴.gif"
            }, {
                faceName: "大哭",
                facePath: "大哭.gif"
            }, {
                faceName: "尴尬",
                facePath: "尴尬.gif"
            }, {
                faceName: "发怒",
                facePath: "发怒.gif"
            }, {
                faceName: "调皮",
                facePath: "调皮.gif"
            }, {
                faceName: "龇牙",
                facePath: "龇牙.gif"
            }, {
                faceName: "惊讶",
                facePath: "惊讶.gif"
            }, {
                faceName: "难过",
                facePath: "难过.gif"
            }, {
                faceName: "酷",
                facePath: "酷.gif"
            }, {
                faceName: "冷汗",
                facePath: "冷汗.gif"
            }, {
                faceName: "抓狂",
                facePath: "抓狂.gif"
            }, {
                faceName: "吐",
                facePath: "吐.gif"
            }, {
                faceName: "偷笑",
                facePath: "偷笑.gif"
            }, {
                faceName: "可爱",
                facePath: "可爱.gif"
            }, {
                faceName: "白眼",
                facePath: "白眼.gif"
            }, {
                faceName: "傲慢",
                facePath: "傲慢.gif"
            }, {
                faceName: "饥饿",
                facePath: "饥饿.gif"
            }, {
                faceName: "困",
                facePath: "困.gif"
            }, {
                faceName: "惊恐",
                facePath: "惊恐.gif"
            }, {
                faceName: "流汗",
                facePath: "流汗.gif"
            }, {
                faceName: "憨笑",
                facePath: "憨笑.gif"
            }, {
                faceName: "大兵",
                facePath: "大兵.gif"
            }, {
                faceName: "奋斗",
                facePath: "奋斗.gif"
            }, {
                faceName: "咒骂",
                facePath: "咒骂.gif"
            }, {
                faceName: "疑问",
                facePath: "疑问.gif"
            }, {
                faceName: "嘘",
                facePath: "嘘.gif"
            }, {
                faceName: "晕",
                facePath: "晕.gif"
            }, {
                faceName: "折磨",
                facePath: "折磨.gif"
            }, {
                faceName: "衰",
                facePath: "衰.gif"
            }, {
                faceName: "骷髅",
                facePath: "骷髅.gif"
            }, {
                faceName: "敲打",
                facePath: "敲打.gif"
            }, {
                faceName: "再见",
                facePath: "再见.gif"
            }, {
                faceName: "擦汗",
                facePath: "擦汗.gif"
            }, {
                faceName: "抠鼻",
                facePath: "抠鼻.gif"
            }, {
                faceName: "鼓掌",
                facePath: "鼓掌.gif"
            }, {
                faceName: "糗大了",
                facePath: "糗大了.gif"
            }, {
                faceName: "坏笑",
                facePath: "坏笑.gif"
            }, {
                faceName: "左哼哼",
                facePath: "左哼哼.gif"
            }, {
                faceName: "右哼哼",
                facePath: "右哼哼.gif"
            }, {
                faceName: "哈欠",
                facePath: "哈欠.gif"
            }, {
                faceName: "鄙视",
                facePath: "鄙视.gif"
            }, {
                faceName: "委屈",
                facePath: "委屈.gif"
            }, {
                faceName: "快哭了",
                facePath: "快哭了.gif"
            }, {
                faceName: "阴险",
                facePath: "阴险.gif"
            }, {
                faceName: "亲亲",
                facePath: "亲亲.gif"
            }, {
                faceName: "吓",
                facePath: "吓.gif"
            }, {
                faceName: "可怜",
                facePath: "可怜.gif"
            }, {
                faceName: "菜刀",
                facePath: "菜刀.gif"
            }, {
                faceName: "西瓜",
                facePath: "西瓜.gif"
            }, {
                faceName: "啤酒",
                facePath: "啤酒.gif"
            }, {
                faceName: "篮球",
                facePath: "篮球.gif"
            }, {
                faceName: "乒乓",
                facePath: "乒乓.gif"
            }, {
                faceName: "拥抱",
                facePath: "拥抱.gif"
            }, {
                faceName: "握手",
                facePath: "握手.gif"
            }, {
                faceName: "得意地笑",
                facePath: "得意地笑.gif"
            }, {
                faceName: "听音乐",
                facePath: "听音乐.gif"
            }],
            Init: function() {
                var isShowImg = false;
                $(".Input_text").focusout(function() {
                    $(this).parent().css("border-color", "#cccccc");
                    $(this).parent().css("box-shadow", "none");
                    $(this).parent().css("-moz-box-shadow", "none");
                    $(this).parent().css("-webkit-box-shadow", "none");
                });
                $(".Input_text").focus(function() {
                    $(this).parent().css("border-color", "rgba(19,105,172,.75)");
                    $(this).parent().css("box-shadow", "0 0 3px rgba(19,105,192,.5)");
                    $(this).parent().css("-moz-box-shadow", "0 0 3px rgba(241,39,232,.5)");
                    $(this).parent().css("-webkit-box-shadow", "0 0 3px rgba(19,105,252,3)");
                });
                $(".imgBtn").click(function() {
                    if (isShowImg == false) {
						$(".Input_Foot").css("border-top","1px solid #ccc");
						$(".imgBtn").css("background-image","url(../addons/water_baby/template/img/smile-hover.png)");
                        isShowImg = true;
                        $(this).parent().prev().animate({
                            bottom: "45px"
                        }, 300);
                        if ($(".faceDiv").children().length == 0) {
                            for (var i = 0; i < ImgIputHandler.facePath.length; i++) {
                                $(".faceDiv").append("<img title=\"" + ImgIputHandler.facePath[i].faceName + "\" src=\"../addons/water_baby/template/face/" + ImgIputHandler.facePath[i].facePath + "\" />");
                            }
                            $(".faceDiv>img").click(function() {
                                isShowImg = false;
                                $(this).parent().animate({
                                    bottom: "-190px"
                                }, 300);
                                ImgIputHandler.insertAtCursor($(".Input_text")[0], "[" + $(this).attr("title") + "]");
                            });
                        }
                    } else {
                        isShowImg = false;
						$(".Input_Foot").css("border-top","0");
						$(".imgBtn").css("background-image","url(../addons/water_baby/template/img/smile.png)");
                        $(this).parent().prev().animate({
                            bottom: "-190px"
                        }, 300);
                    }
                });
                $(".postBtn").click(function() {
                    //发送文字
                    var text = $(".Input_text").val();
                    $(".Input_text").val("");
                    reg = new RegExp('\\[(.+?)\\]', "g");
                    text = text.replace(reg, "<img src='../addons/water_baby/template/face/$1.gif' id='emo' width='24' height='24' />");
                    // $("#temp li .right").html(text);
                    // $(".mylist").append($("#temp").html());
                    sendMsg(text);
                });
            },
            insertAtCursor: function(myField, myValue) {
                if (document.selection) {
                    myField.focus();
                    sel = document.selection.createRange();
                    sel.text = myValue;
                    sel.select();
                } else if (myField.selectionStart || myField.selectionStart == "0") {
                    var startPos = myField.selectionStart;
                    var endPos = myField.selectionEnd;
                    var restoreTop = myField.scrollTop;
                    myField.value = myField.value.substring(0, startPos) + myValue + myField.value.substring(endPos, myField.value.length);
                    if (restoreTop > 0) {
                        myField.scrollTop = restoreTop;
                    }
                    myField.focus();
                    myField.selectionStart = startPos + myValue.length;
                    myField.selectionEnd = startPos + myValue.length;
                } else {
                    myField.value += myValue;
                    myField.focus();
                }
            }
        }
    </script>
    <script type="text/javascript">
        // 初始化
        var config = {
            authDomain: "october-baby.wilddogio.com",
            syncURL: "https://october-baby.wilddogio.com"
        };
        wilddog.initializeApp(config);
        var ref = wilddog.sync().ref("/{$conv_id}/{$room_id}");

        // 每个客户端自定义的 id
        var clientId = "{$_W['member']['uid']}";
        var doctorId = "{$mem_info['uid']}";
        var replytime = "{$replytime}";

        /* 监听孕妇在线状态 */
        var userRef = wilddog.sync().ref("/mem" + doctorId);
        var userStatus = "";
        var userUnread = 0;


        $().ready(function(e) {
            initSlide();
            ImgIputHandler.Init();
            onValue();
        });

        /**
         * 监听消息
         * @return {[type]} [description]
         */
        function onValue() {
            // var presenceRef = wilddog.sync().ref("/"+clientId);
            // presenceRef.off();

            ref.on("child_added", function(snapshot) {
                message = snapshot.val();
                console.log(message);
                showMsg(message);
            });

            userRef.on("value", function(snapshot) {
                console.log("val" + snapshot.val());
                if (snapshot.val() == null) {
                    userStatus = 'disconnected';
                    userUnread = 0;
                } else {
                    doctor = snapshot.val();
                    if (snapshot.hasChild('status')) {
                        userStatus = doctor.status;
                    }
                    if (snapshot.hasChild("mem" + clientId)) {
                        userUnread = doctor.mem{$_W['member']['uid']};
                    }
                }
                console.log("status:" + userStatus);
                // console.log("unread1:"+doctorUnread);
            });
        }

        /**
         * 显示接收到的消息
         */
        function showMsg(message, isBefore) {
            var text = message.text;
            var from = message.from;
            var isBefore = arguments[1] ? arguments[1] : false
            console.log(isBefore);
            if (message.from != clientId) {
                console.log("NEW MESSAGE");
                if (String(text).replace(/^\s+/, '').replace(/\s+$/, '')) {
                    $("#temp1 li span.left").html(text);
                    if (isBefore) {
                        //$(".mylist").insertBefore($("#temp1").html(),document.getElementById("mylist").childNodes[0]);
                        var temp = $(".mylist").html();
                        $(".mylist").html($("#temp1").html());
                        $(".mylist").append(temp);
                    } else {
                        $(".mylist").append($("#temp1").html());
                    }
                }
            } else {
                if (String(text).replace(/^\s+/, '').replace(/\s+$/, '')) {
                    //showLog('（' + formatTime(message.timestamp) + '）  ' + encodeHTML(from) + '： ', encodeHTML(message.text), isBefore);
                    $("#temp li span.right").html(text);
                    if (isBefore) {
                        //$(".mylist").insertBefore($("#temp1").html(),document.getElementById("mylist").childNodes[0]);
                        var temp = $(".mylist").html();
                        $(".mylist").html($("#temp").html());
                        $(".mylist").append(temp);
                    } else {
                        $(".mylist").append($("#temp").html());
                    }
                }
            }
        }

        /**
         * 发送消息
         * @return {[type]} [description]
         */
        function sendMsg(text) {

            var val = text;

            // 不让发送空字符
            // if($("#send_btn").css("display")!="none")
            // {
            //   if (!String(val).replace(/^\s+/, '').replace(/\s+$/, '')) {
            //       alert('请输入点文字！');
            //   }
            // }

            if (!String(val).replace(/^\s+/, '').replace(/\s+$/, '')) {
                // alert('请输入点文字！');
                return;
            }
            $("#send_btn").css("display","none");
            $("#add_btn").css("display","");

            ref.push({
                from: clientId,
                to: doctorId,
                text: text,
                timestamp: Date.parse(new Date())
            });

            /* 更新回复时间 */
            if ({$type} == '0' && replytime == '0') {
                var href = "{php echo $this->createMobileUrl('updateReplyTime');}";
                $.post(href, {
                    id: '{$chat_info['id']}',
                }, function(data) {
                    data = $.parseJSON(data);

                    if (data.type == 'success') {
                        replytime = data.message;
                    } else {
                        alert(data.message);
                    }
                });
            }

            /* 发送离线通知 */
            if (userStatus != 'chat') {
                userUnread = userUnread + 1;
                console.log("unread:" + userUnread);
                presenceRef.update({'mem{$_W['member']['uid']}': userUnread});

                if (userStatus == null || userStatus == 'disconnected') {
                    // var con = text;
                    var href = "{php echo $this->createMobileUrl('sendWechatMsg');}";
                    if(text.indexOf('img')!=-1 && text.indexOf('shiyue.october-baby.com/baby/attachment/images')!=-1)
                    {
                        text = "图片信息";
                    }
                    if(text.indexOf('<img')!=-1 && text.indexOf('../addons/water_baby/template/face/')!=-1)
                    {
                        text = "表情信息";
                    }
                    $.post(href, {
                        openid: '{$mem_info['openid']}',
                        content: text,
                        username: '{$user_info['nickname']}',
                        doctorname: '{$mem_info['nickname']}',
                        room_id: '{$room_id}',
                        type: {$type},
                        msgtype: '0',
                        doctor_id: clientId
                    }, function(data) {
                        console.log(data);
                    });
                }
                // alert(doctorUnread);
            }
        }

        /**
         * 设置医生/律师上线事件
         */
        var connectedRef = wilddog.sync().ref("/.info/connected");
        var presenceRef = wilddog.sync().ref("/mem" + clientId);

        connectedRef.on("value", function(snap) {
            console.log('connect:' + snap.val());
            if (snap.val() === true) {
                // 当客户端在线时，写入一个字符串
                //    presenceRef.set("chat");
                presenceRef.update({
                    "status": "chat",
                    "mem{$user_info['uid']}": 0
                });
            } else {
                // 当客户端连接断开时，写入一个字符串
                //    presenceRef.set("disconnected");
                presenceRef.update({
                    "status": "disconnected"
                });
            }
        });

        /**
         * 设置医生/律师离线事件
         */
        // 当客户端连接断开时，写入一个字符串
        // presenceRef.onDisconnect().set('disconnected');
        presenceRef.onDisconnect().update({
            "status": "disconnected"
        });
    </script>


</body>

</html>
