<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>十月宝宝</title>
<link href="../addons/water_baby/template/css/weui.min.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/index.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/example.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/swipe.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="tabbar">
        <div class="weui_tab">
            <div class="weui_tab_bd">
            	<div class="swipe" id="slider">
                	<div class='swipe-wrap' id="banner-content">
                        {loop $banner_list $item}
                        <a href="#">
                            <img src="../attachment/{$item['img']}"/>
                        </a>
                        {/loop}
                        <!-- <a href="#">
                            <img src="../addons/water_baby/template/img/ads/1.jpg"/>
                        </a>
                        <a href="#">
                            <img src="../addons/water_baby/template/img/ads/2.jpg"/>
                        </a>
                        <a href="#">
                            <img src="../addons/water_baby/template/img/ads/3.jpg"/>
                        </a>
                        <a href="#">
                            <img src="../addons/water_baby/template/img/ads/4.jpg"/>
                        </a> -->
                    </div>
                    <div id="pointer">
                        <a class="active"></a>
                        <a></a>
                        <a></a>
                        <a></a>
                    </div>
                </div>

                <div class="weui_panel weui_panel_access" style="margin-top:0;">
                    <div class="weui_cells weui_cells_access" style="margin-top:0;">
                        <a class="weui_cell" href="{php echo $this->createMobileUrl('articlelist',array('status'=>2));}">
                            <div class="weui_cell_hd">
                                <img src="../addons/water_baby/template/img/icons/jinrituijian.png" alt="icon" style="width:20px;margin-right:5px;display:block">
                            </div>
                            <div class="weui_cell_bd weui_cell_primary" style="padding-left:0.4em;">
                                <p>今日推荐</p>
                            </div>
                            <div class="weui_cell_ft f14">
                                查看更多
                            </div>
                        </a>
                    </div>
                    <div class="weui_panel_bd">
                       {loop $tjlist $item}
                        <a href="{php echo $this->createMobileUrl('article',array('id'=>$item['id']));}" class="weui_media_box weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb" src="{$_W['attachurl']}{$item['img']}" alt="">
                            </div>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">{$item['title']}</h4>
                                <p class="weui_media_desc">{$item['desc']}</p>
                            </div>
                        </a>
                       {/loop}

                    </div>
                </div>
                {loop $articletypelist $type}

            	<div class="weui_panel weui_panel_access">
                    <div class="weui_cells weui_cells_access" style="margin-top:0;">
                        <a class="weui_cell" href="{php echo $this->createMobileUrl('articlelist',array('articletypeid'=>$type['id']));}">
                            <div class="weui_cell_hd">
                                <img src="{$_W['attachurl']}{$type['img']}" alt="icon" style="width:20px;margin-right:5px;display:block">
                            </div>
                            <div class="weui_cell_bd weui_cell_primary" style="padding-left:0.4em;">
                                <p>{$type['title']}</p>
                            </div>
                            <div class="weui_cell_ft f14">
                                查看更多
                            </div>
                        </a>
                    </div>
                    {php $articlelist = $this->getArticleListByTid($type['id'],4);}
                    <div class="weui_panel_bd">
                       {loop $articlelist $item}
                        <a href="{php echo $this->createMobileUrl('article',array('id'=>$item['id']));}" class="weui_media_box weui_media_appmsg">
                            <div class="weui_media_hd">
                                <img class="weui_media_appmsg_thumb" src="{$_W['attachurl']}{$item['img']}" alt="">
                            </div>
                            <div class="weui_media_bd">
                                <h4 class="weui_media_title">{$item['title']}</h4>
                                <p class="weui_media_desc">
                                	{$item['desc']}
                                </p>
                            </div>
                        </a>

                       {/loop}

                    </div>
                </div>
                {/loop}

            </div>
            <div class="weui_tabbar">
                <a href="{php echo $this->createMobileUrl('index');}" class="weui_tabbar_item weui_bar_item_on">
                    <div class="weui_tabbar_icon">
                        <img src="../addons/water_baby/template/img/icons/index_active.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">首页</p>
                </a>
                <a href="{php echo $this->createMobileUrl('consult');}" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon">
                        <img src="../addons/water_baby/template/img/icons/consultlation.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">咨询</p>
                </a>
                <a href="{php echo $this->createMobileUrl(my);}" class="weui_tabbar_item">
                    <div class="weui_tabbar_icon">
                        <img src="../addons/water_baby/template/img/icons/my.png" alt="">
                    </div>
                    <p class="weui_tabbar_label">我的</p>
                </a>
            </div>
        </div>
    </div>
<script src="../addons/water_baby/template/js/jquery.min.js" type="text/javascript"></script>
<script src="../addons/water_baby/template/js/swipe.js" type="text/javascript"></script>
<script src="../addons/water_baby/template/js/functions.js" type="text/javascript"></script>
<script>
$().ready(function(e) {
    initSlide();
});
</script>

</body>
</html>
