<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
<title>许愿</title>
<link href="../addons/water_baby/template/css/weui.min.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/example.css" rel="stylesheet" type="text/css">
<link href="../addons/water_baby/template/css/prepare.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="tabbar">
        <div class="weui_tab" id="main">
            <div class="choose">
            	<table width="100%" align="center" border="0">
                	<tr>
                    	<td width="50%" height="200" align="center" valign="middle">
                        	<img src="../addons/water_baby/template/img/boy.jpg" class="circle {if $user['baby_sex'] == '1'}active{/if}" onClick="select(1)" id="boy"/>
                        </td>
                        <td width="50%" height="200" align="center" valign="middle">
                        	<img src="../addons/water_baby/template/img/girl.jpg" class="circle {if $user['baby_sex'] == '0'}active{/if}" onClick="select(0)" id="girl"/>
                        </td>
                    </tr>
                    <tr>
                    	<td height="30" align="center" valign="middle" class="boy">
                        	小帅锅
                        </td>
                        <td height="30" align="center" valign="middle" class="girl">
                        	小镁铝
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	<div class="info">
    	亲爱的准麻麻，快来许个愿吧~
    </div>
</body>
<script src="../addons/water_baby/template/js/jquery.min.js" type="text/javascript"></script>
<script>
	function select(type)
	{
		if(type == 1)
		{
			if($("#girl").hasClass("active"))
			{
				$("#girl").removeClass("active");
			}
			$("#boy").addClass("active");
		}
		if(type == 0)
		{
			if($("#boy").hasClass("active"))
			{
				$("#boy").removeClass("active");
			}
			$("#girl").addClass("active");
		}

		var href = "{php echo $this->createMobileUrl('BabySexUpdate');}";
		$.post(href, {'sex_type' : type, 'old_sex_type' : {$user['baby_sex']}}, function(data) {
			console.log(data);
			data = $.parseJSON(data);

			if (data.type == 'success') {
				location.href = data.redirect;
			} else {
				alert(data.message);
			}
		})

	}
</script>

</html>
